body,
div,
span,
p,
a,
img,
input,
ol,
ul,
li,
h1,
h2,
h3,
h4,
strong,
em,
i,
del {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

input {
  border: 0 none;
  outline: 0 none;
}

img {
  border: 0 none;
  vertical-align: middle;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
strong {
  font-weight: normal;
}

em,
i {
  font-style: normal;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

.container {
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.container .header .topNav {
  height: 1.2396694215rem;
  background-color: #ff841d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.4132231405rem;
}
.container .header .topNav a {
  height: 0.5785123967rem;
}
.container .header .topNav a img {
  height: 100%;
}
.container .header .topNav a.loading {
  height: 0.867768595rem;
}
.container .header .search {
  height: 1.2396694215rem;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  padding: 0.2314049587rem 0.2231404959rem;
  position: relative;
}
.container .header .search input {
  height: 0.7438016529rem;
  border-radius: 0.3719008264rem;
  border: none;
  background-color: #f1f1f1;
}
.container .header .search input::placeholder {
  font-size: 0.4049586777rem;
}
.container .header .search .searchBtn {
  position: absolute;
  width: 1.5702479339rem;
  height: 0.7438016529rem;
  border-radius: 0.3719008264rem;
  right: 0.2231404959rem;
  font-size: 0.4049586777rem;
  line-height: 0.1239669421rem;
  text-align: center;
  background-color: #ff841d;
  border: none;
}
.container .main {
  background-color: #f2f2f2;
}
.container .footer {
  height: 2.3636363636rem;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}
.container .footer .btnS {
  height: 0.826446281rem;
  display: flex;
}
.container .footer .btnS button {
  flex: 1;
  border: 0;
  background-color: #efefef;
  border-radius: 0;
  border-top: 0.0082644628rem solid #c4c4c4;
  border-bottom: 0.0082644628rem solid #c4c4c4;
  font-size: 0.347107438rem;
  color: #5a5a5a;
}
.container .footer .btnS button:nth-child(n+2) {
  border-left: 0.0082644628rem solid #c4c4c4;
}
.container .footer .footerTxt {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .footer .footerTxt p {
  font-size: 0.3305785124rem;
  color: #666666;
}
.container .footer .footerTxt p a {
  color: red;
}
.container .footer .footerTxt p .web {
  color: #666666;
}

html,
body {
  width: 100%;
  box-sizing: border-box;
}

.main {
  background-color: #f2f2f2;
}
.main .getindexmenu {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
}
.main .getindexmenu div {
  width: 25%;
  height: 2.479338843rem;
  display: flex;
  justify-content: center;
}
.main .getindexmenu div a {
  width: 1.652892562rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.3140495868rem;
  color: #000;
}
.main .getindexmenu div a img {
  width: 100%;
}
.main .Sale {
  margin-top: 0.0991735537rem;
}
.main .Sale .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 0.8760330579rem;
  background-color: #ff9a19;
  padding: 0 0.2479338843rem;
  border-bottom: 0.041322314rem solid #ffc881;
}
.main .Sale .title p {
  flex: 1;
  color: #fff;
  font-size: 0.3719008264rem;
}
.main .Sale .title img {
  width: 0.5123966942rem;
}
.main .products {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.main .products ul .product a {
  display: flex;
}
.main .products ul .product a .price img {
  width: 2.5867768595rem;
  height: 3.1652892562rem;
}
.main .products ul .product a .info {
  flex: 1;
  padding: 0.4380165289rem;
}
.main .products ul .product a .info .title {
  font-size: 0.3719008264rem;
}
.main .products ul .product a .info .title span {
  color: #ff6c00;
}
.main .products ul .product a .info .other {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8925619835rem;
  font-size: 0.2975206612rem;
  color: #a1a1a1;
}

/*# sourceMappingURL=index.css.map */
