body,
div,
span,
p,
a,
img,
input,
ol,
ul,
li,
h1,
h2,
h3,
h4,
strong,
em,
i,
del {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

input {
  border: 0 none;
  outline: 0 none;
}

img {
  border: 0 none;
  vertical-align: middle;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
strong {
  font-weight: normal;
}

em,
i {
  font-style: normal;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

.container {
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.container .header .topNav {
  height: 1.2396694215rem;
  background-color: #ff841d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.4132231405rem;
}
.container .header .topNav a {
  height: 0.5785123967rem;
}
.container .header .topNav a img {
  height: 100%;
}
.container .header .topNav a.loading {
  height: 0.867768595rem;
}
.container .header .search {
  height: 1.2396694215rem;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  padding: 0.2314049587rem 0.2231404959rem;
  position: relative;
  background-color: #fff;
}
.container .header .search input {
  height: 0.7438016529rem;
  border-radius: 0.3719008264rem;
  border: none;
  width: 100%;
  background-color: #f1f1f1;
}
.container .header .search input::placeholder {
  font-size: 0.4049586777rem;
}
.container .header .search .searchBtn {
  position: absolute;
  width: 1.5702479339rem;
  height: 0.7438016529rem;
  border-radius: 0.3719008264rem;
  right: 0.2231404959rem;
  font-size: 0.4049586777rem;
  line-height: 0.1239669421rem;
  text-align: center;
  background-color: #ff841d;
  border: none;
}
.container .main {
  background-color: #f2f2f2;
}
.container .footer {
  height: 2.3636363636rem;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}
.container .footer .btnS {
  height: 0.826446281rem;
  display: flex;
}
.container .footer .btnS button {
  flex: 1;
  border: 0;
  background-color: #efefef;
  border-radius: 0;
  border-top: 0.0082644628rem solid #c4c4c4;
  border-bottom: 0.0082644628rem solid #c4c4c4;
  font-size: 0.347107438rem;
  color: #5a5a5a;
}
.container .footer .btnS button:nth-child(n+2) {
  border-left: 0.0082644628rem solid #c4c4c4;
}
.container .footer .footerTxt {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .footer .footerTxt p {
  font-size: 0.3305785124rem;
  color: #666666;
}
.container .footer .footerTxt p a {
  color: red;
}
.container .footer .footerTxt p .web {
  color: #666666;
}

html,
body {
  height: 100%;
}

.container {
  padding: 0;
  height: 100%;
  position: relative;
}
.container .main {
  height: 7.2148760331rem;
  padding: 0.3140495868rem 0.2479338843rem;
  position: relative;
}
.container .main input {
  border-radius: 0;
}
.container .main input:first-child {
  margin-top: 0.0661157025rem;
}
.container .main .password {
  margin: 0.2479338843rem 0rem;
}
.container .main button {
  width: 100%;
  font-size: 0.4628099174rem;
}
.container .main .auto {
  display: flex;
  color: black;
  margin-top: 0.4462809917rem;
}
.container .main .auto input {
  margin-top: 0.0991735537rem;
}
.container .main .forget {
  position: absolute;
  bottom: 0.8925619835rem;
  color: #ccc;
}
.container .footer {
  flex: 1;
  position: relative;
}
.container .footer .footerTxt {
  display: flex;
  position: absolute;
  top: 0.826446281rem;
  left: 50%;
  margin-left: -3.5537190083rem;
}

.app-bar {
  display: flex;
  height: 1.4876033058rem;
  padding-top: 0.2479338843rem;
  padding-right: 0.2479338843rem;
  background-color: #faf8f5;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
}
.app-bar .left {
  display: flex;
  width: 1.1570247934rem;
  justify-content: center;
  padding-top: 0.1652892562rem;
}
.app-bar .left .glyphicon {
  text-align: center;
  line-height: 0.5454545455rem;
  width: 0.5454545455rem;
  height: 0.5454545455rem;
  background-color: #c8c8da;
  color: white;
  border-radius: 50%;
  font-size: 0.3305785124rem;
}
.app-bar .man {
  display: flex;
  flex-basis: 0.9917355372rem;
  height: 0.9917355372rem;
  background-color: #fd5c01;
  align-items: center;
  justify-content: center;
  font-size: 0.6611570248rem;
  color: white;
  font-weight: bold;
  border-radius: 0.1652892562rem;
  margin-right: 0.2479338843rem;
}
.app-bar .icon {
  font-size: 0.3305785124rem;
  color: #999;
}
.app-bar .icon .one {
  font-size: 0.4132231405rem;
  color: #666;
}
.app-bar .right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.app-bar .right a {
  display: flex;
  flex-basis: 1.8347107438rem;
  height: 0.7438016529rem;
  background-color: #ff7700;
  justify-content: center;
  align-items: center;
  border-radius: 0.0826446281rem;
  color: white;
}

/*# sourceMappingURL=login.css.map */
