body,
div,
span,
p,
a,
img,
input,
ol,
ul,
li,
h1,
h2,
h3,
h4,
strong,
em,
i,
del {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

input {
    border: 0 none;
    outline: 0 none;
}

img {
    border: 0 none;
    vertical-align: middle;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
strong {
    font-weight: normal;
}

em,
i {
    font-style: normal;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

@function pr($p) {
    @return $p/121+rem;
}

.container {
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    // padding: 0;
    .header {
        .topNav {
            height: pr(150);
            background-color: #ff841d;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 pr(50);
            a {
                height: pr(70);
                img {
                    height: 100%;
                }
                &.loading {
                    height: pr(105);
                }
            }
        }
        .search {
            height: pr(150);
            border-bottom: 1px solid #ebebeb;
            display: flex;
            padding: pr(28) pr(27);
            position: relative;
            input {
                height: pr(90);
                border-radius: pr(45);
                border: none;
                background-color: #f1f1f1;
                &::placeholder {
                    font-size: pr(49);
                }
            }
            .searchBtn {
                position: absolute;
                width: pr(190);
                height: pr(90);
                border-radius: pr(45);
                right: pr(27);
                font-size: pr(49);
                line-height: pr(15);
                text-align: center;
                background-color: #ff841d;
                border: none;
            }
        }
    }
    .main {
        //height: pr(5000);
        background-color: #f2f2f2;
    }
    .footer {
        height: pr(286);
        display: flex;
        flex-direction: column;
        background-color: #efefef;
        .btnS {
            height: pr(100);
            display: flex;
            button {
                flex: 1;
                border: 0;
                background-color: #efefef;
                border-radius: 0;
                border-top: pr(1) solid #c4c4c4;
                border-bottom: pr(1) solid #c4c4c4;
                font-size: pr(42);
                color: #5a5a5a;
                &:nth-child(n+2) {
                    border-left: pr(1) solid #c4c4c4;
                }
            }
        }
        .footerTxt {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
                font-size: pr(40);
                color: #666666;
                a {
                    color: red;
                }
                .web {
                    color: #666666;
                }
            }
        }
    }
}