@import "common.scss";

@function pr($p) {
    @return $p/121+rem;
}
body,html{
    height: 100%;
}

.container{
    .header{
        .topNav{
            background-color: #f4483e;
            .mui-icon-back{
                color: #fff;
                font-size: pr(60);
            }
            .title{
                color: #fff;
                font-size: 0.5rem;
            }
        }
    }
    .main{
        background-color: #fff;
        height: auto;
        flex: 1;
        position: relative;
        .coupon{
            padding: 10px 0px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-content: flex-end;
            div{
                width: 31%;
                border:1px solid #ccc;
                margin:4px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 5px 0px;
                img{
                    width: 50%;
                }
                p{
                    margin: 0;
                }
                &.hidden{
                    border: 0;
                }
            }
        }
    }

    .nav{
        height: pr(100);
        line-height: pr(100);
        background: linear-gradient(to bottom, #fafafa, #eee);
        margin: pr(80) 0;
        font-size: 0.4rem;
        color: #ccc;
        padding-left: pr(20);
        border-bottom: 1px solid #ccc;
        a{
            color: #444;
        }
    }
}