@import "common.scss";
html,
body {
    width: 100%;
    //height: 100%;
    box-sizing: border-box;
}

//内容
.main {
    //height: pr(2000);
    background-color: #f2f2f2;
    //导航栏
    .getindexmenu {
        //height: pr(900);
        background-color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        div {
            width: 25%;
            height: pr(250);
            display: flex;
            justify-content: center;
            a {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: pr(33);
                color: #333;
                img {
                    margin-bottom: pr(20);
                    width: pr(152);
                }
            }
            &:nth-child(n+9) {
                display: none;
                //a {
                //    margin-left: pr(75);
                //}
            }
        }
    }
    //超值折扣
    .Sale {
        margin-top: pr(12);
        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: pr(106);
            background-color: #ff9a19;
            padding: 0 pr(30);
            border-bottom: pr(5) solid #ffc881;
            p {
                flex: 1;
                color: #fff;
                font-size: pr(45);
            }
            img {
                width: pr(62);
            }
        }
    }
    //商品列表
    .products {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        ul {
            .product {
                a {
                    display: flex;
                    //text-decoration: none;
                    color: #333;
                    .price {
                        img {
                            padding: pr(20) 0;
                            margin-left: pr(30);
                            width: pr(313);
                            height: pr(383);
                        }
                    }
                    .info {
                        flex: 1;
                        padding: pr(53);
                        .title {
                            font-size: pr(45);
                            height: pr(130);
                            line-height: pr(70);
                            span {
                                color: #ff6c00;
                            }
                        }
                        .other {
                            display: flex;
                            justify-content: space-between;
                            margin-top: pr(108);
                            font-size: pr(36);
                            color: #a1a1a1;
                        }
                    }
                }
            }
        }
    }
    //更多优惠
    .Discount {
        height: pr(185);
        width: 100%;
        padding: pr(31);
        a {
            display: block;
            border: pr(1) solid #ccc;
            border-radius: pr(20);
            background-color: #fff;
            text-align: center;
            line-height: pr(88);
            height: pr(88);
            font-size: pr(40);
            color: #5a5a5a;
        }
    }
    //品牌排行
    .brand {
        margin-bottom: pr(30);
        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: pr(106);
            background-color: #ff9a19;
            padding: 0 pr(30);
            border-bottom: pr(5) solid #ffc881;
            p {
                flex: 1;
                color: #fff;
                font-size: pr(45);
            }
            img {
                width: pr(62);
            }
        }
    }
}