<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>品牌大全222级</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 导入jQuery模板 -->
    <script src="./lib/jquery/jquery.min.js"></script>
    <!-- 导入mui插件 -->
    <link rel="stylesheet" href="./lib/mui/css/mui.min.css">
    <script src="./lib/mui/js/mui.min.js"></script>

    <!--模板-->
    <script src="./lib/artTemplate/template-web.js"></script>

    <!-- 导入字体图标 -->
    <link rel="stylesheet" href="./lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/pingpaidaquan2.css">
    <link rel="icon" href="./images/icommm.png">
    <!--jjjjjjjjjjjjjjssssssssssssssss-->
    <script src="js/pinpaidaquan2.js"></script>

</head>
<body>
<!--t头部-->
<div class="header">
    <div class="top">
        <img class="img1" src="./images/logo22.png" alt="">
        <img class="img2" src="./images/logo11.png" alt="">
    </div>
    <div class="bottom">
        <input class="txt" type="text" placeholder="请输入你想比价的商品">
        <input class="btn" type="button" value="搜索">
    </div>
    <div class="nav">
        <div class="nav1">
            <a href="#">首页</a>><a href="#">品牌大全</a>><span>平板电视哪个牌子好</span>
        </div>
    </div>

</div>
<!--内容-->
<div class="main">
    <!--小导航-->
    <div class="nav">
        <p>平板电视那个牌子好</p>
    </div>
    <div class="content">
        <ul class="mui-table-view zhanshi">
            <li class="mui-table-view-cell">
                <div class="pinban">
                    <i>1</i>
                    <span>海信平板电视</span>
                </div>
                <a class="mui-navigate-right"></a>
                <div class="xiaol">
                    <span>30天全网销量</span>&nbsp;:&nbsp;
                    <span>1226482件</span>
                </div>
            </li>
            <li class="mui-table-view-cell">
                <div class="pinban">
                    <i class="tubiao">2</i>
                    <span>海信平板电视</span>
                </div>
                <a class="mui-navigate-right"></a>
                <div class="xiaol">
                    <span>30天全网销量</span>&nbsp;:&nbsp;
                    <span>1226482件</span>
                </div>
            </li>
            <li class="mui-table-view-cell">
                <div class="pinban">
                    <i class="tubiao1">3</i>
                    <span>海信平板电视</span>
                </div>
                <a class="mui-navigate-right"></a>
                <div class="xiaol">
                    <span>30天全网销量</span>&nbsp;:&nbsp;
                    <span>1226482件</span>
                </div>
            </li>
            <li class="mui-table-view-cell">
                <div class="pinban">
                    <i class="tubiao2">3</i>
                    <span>海信平板电视</span>
                </div>
                <a class="mui-navigate-right"></a>
                <div class="xiaol">
                    <span>30天全网销量</span>
                    <span>1226482件</span>
                </div>
            </li>
        </ul>

    </div>
    <!--平板电视产品销量排行-->

    <div class="nav">
        <p>平板电视产品销量排行</p>
    </div>
    <div class="content1">
        <ul class="mui-table-view content2">
            <li class="mui-table-view-cell">
                <div class="left">
                    <img src="./images/2016040016521576785.jpg" alt="">
                </div>
                <div class="right">
                    <div class="chanpin">
                        <p>海信(Hisense) LED55EC500U 55英寸 4K超高清 智能液晶电视</p>
                    </div>
                    <div class="jiaxing">
                        <div class="moni">
                            <span>¥&nbsp;2099.00</span>
                        </div>
                        <div class="xing">
                            <img src="./images/star.png" alt="">
                            <img src="./images/star.png" alt="">
                            <img src="./images/star.png" alt="">
                            <img src="./images/star.png" alt="">
                            <img src="./images/star.png" alt="">
                        </div>
                    </div>
                    <div class="baojia">
                        <span>报价(4)</span>
                        <span>全网评论(172137)</span>
                    </div>
                </div>
            </li>
            <li class="mui-table-view-cell">
                <div class="left">
                    <img src="./images/2016040016521576785.jpg" alt="">
                </div>
                <div class="right">
                    <div class="chanpin">
                        <p>海信(Hisense) LED55EC500U 55英寸 4K超高清 智能液晶电视</p>
                    </div>
                    <div class="jiaxing">
                        <div class="moni">
                            <span>¥&nbsp;2099.00</span>
                        </div>
                        <div class="xing">
                            <img src="./images/star.png" alt="">
                            <img src="./images/star.png" alt="">
                            <img src="./images/star.png" alt="">
                            <img src="./images/star.png" alt="">
                            <img src="./images/star.png" alt="">
                        </div>
                    </div>
                    <div class="baojia">
                        <span>报价(4)</span>
                        <span>全网评论(172137)</span>
                    </div>
                </div>
            </li>

        </ul>
    </div>

    <!--平板电视最有用的用户评论-->
    <div class="nav">
        <p>平板电视最有用的用户评论</p>
    </div>
    <div class="userconmet">
        <div class="pinlun">
            <div class="top">
                <img src="./images/sqkb_sources_static_img_news_2016_01bbdeaab8c24230957c3ce7015f51f57ada7c33.jpg"
                     alt="">
                <p>大金(DAIKIN) FTXB336TCLW 小鑫系列 大1.5匹 冷暖变频 壁挂式空调</p>
            </div>
            <div class="bot">
                <div class="xing">
                    <div class="yonghu">
                        <span>路***过&nbsp;:</span>
                        <img src="./images/star.png" alt="">
                        <img src="./images/star.png" alt="">
                        <img src="./images/star.png" alt="">
                        <img src="./images/star.png" alt="">
                        <img src="./images/star.png" alt="">
                    </div>
                    <div class="riqi">
                        <span>2017/7/13</span>
                    </div>
                </div>
                <p class="punlunyu">
                    618活动的时候买的，一口气买了三台，正好新房装修，三个卧室都装好了。当时也不是图便宜，我想买空调要用很久的所以一开始就锁定大品牌的，现在买美的也要三千多，感觉大金的这款性价比很高。装的时候我在家，提前预约的时间，到得很准时。两个师傅穿大金工作服来的，天蓝色很干净，好感度上升。看网上说变频空调抽真空很关键，安装师傅手脚特别熟练细致，室外机抽真空抽了十几分钟。装好之后当场试用，凉风习习，声音也很轻。空调操作很智能，通过手机蓝牙控制，不用到处找遥控器了，不过家里有老人小孩的家庭建议还是另外买个遥控器。对了，一般空调不能打0.5度吧，这款空调通过手机操作就可以，再也不用担心打25度嫌冷，26度嫌热了。通过手机蓝牙还能控制室内机一键静音，睡觉时几乎感觉不到空调运转音了。诚心推荐给对声音敏感的人~</p>

            </div>
        </div>
    </div>


</div>
<!--底部-->
<div class="footer">
    <div class="bottom">
        <a href="">登录</a>
        <a href="">注册</a>
        <a class="back_to_top" href="#"><span class="mui-icon-upload"></span>返回顶部</a>
    </div>
    <div class="bottom1">
        <p><span>手机APP下载</span>慢慢买手机版--掌上比价平台</p>
        <p>m.manmanbuy.com </p>
    </div>

</div>
<script type="text/html" id="mmp">
    {{each result v i}}
    <li class="mui-table-view-cell">
        <div class="pinban">
            <!--<i>{{1}}</i>-->
            {{if i==0}}<i class="tubiao">{{i+1}}</i>{{/if}}
            {{if i==1}}<i class="tubiao1">{{i+1}}</i>{{/if}}
            {{if i==2}}<i class="tubiao2">{{i+1}}</i>{{/if}}
            {{if i>2}}<i class="tubiao3">{{i+1}}</i>{{/if}}

            <span>{{v.brandName}}</span>
        </div>
        <a class="mui-navigate-right"></a>
        <div class="xiaol">
            <span>{{v.brandInfo}}</span>

        </div>
    </li>
    {{/each}}

</script>
<script type="text/html" id="panghang">
    {{each result v i}}
    <li class="mui-table-view-cell">
        <div class="left">
            <img src="{{#v.productImg}}">
        </div>
        <div class="right">
            <div class="chanpin">
                <p>{{v.productName}}</p>
            </div>
            <div class="jiaxing">
                <div class="moni">
                    <span>{{v.productPrice}}</span>
                </div>
                <div class="xing">
                    <img src="./images/star.png" alt="">
                    <img src="./images/star.png" alt="">
                    <img src="./images/star.png" alt="">
                    <img src="./images/star.png" alt="">
                    <img src="./images/star.png" alt="">
                </div>
            </div>
            <div class="baojia">
                <span>{{v.productQuote}}</span>
                <span>{{v.productCom}}</span>
            </div>
        </div>
    </li>

    {{/each}}


</script>


</body>
</html>